{% extends 'layout.html' %}

{% block title %}Mes applications{% endblock %}

{% block content %}
    <h2 class="text-center">Mes applications</h2>
    <hr>
    <div class="content-container">
        <div class="card" style="width: 18rem;">
            <img src="img/math.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Problèmes</h5>
              <p class="card-text">Liste des problèmes mathématiques</p>
              <a href="/list" class="btn btn-primary">Accéder</a>
            </div>
        </div>
    </div>
{% endblock %}